
.doctor-dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
  .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .header1 .search-container {
    display: flex;
    flex-direction: row; /* Sắp xếp theo hàng ngang */
    align-items: flex-start; /* Căn chỉnh các phần tử ở đầu container */
  }
  
  .header1 input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-btn {
    padding: 0px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top:-7px
  }
  
  .add-doctor-btn {
    padding: 8px 12px;
    background-color: #45C3D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .doctor-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .doctor-table th, .doctor-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .doctor-table th {
    background-color: #f8f9fa;
  }
  
  .doctor-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .doctor-table input[type="checkbox"] {
    margin: 0;
  }
  
  .doctor-table img {
    border-radius: 50%;
  }
  
  .edit-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* for the sorting edit  */
  .sort-options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 60%;
  }
  
  .sort-options select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

  }
  
  