.statistic-block {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 150px; /* Adjust size of block */
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .statistic-block h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .statistic-block p {
    font-size: 20px;
    font-weight: 600;
  }
  